<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449557740695-9avtn3t217l0o74v6vqui1ds6ptr3l2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449557740695-9avtn3t217l0o74v6vqui1ds6ptr3l2l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449557740695-kmhl175fc27li19ot82qq4ofbovj26fj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEzRjBTzYiLKkRECxtUgqrMn2LNcZ5mkM</string>
	<key>GCM_SENDER_ID</key>
	<string>449557740695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ladytabtab.app</string>
	<key>PROJECT_ID</key>
	<string>ladytabtab-f376c</string>
	<key>STORAGE_BUCKET</key>
	<string>ladytabtab-f376c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449557740695:ios:a7260a360fb6d95c1fbdd2</string>
	<key>DATABASE_URL</key>
	<string>https://ladytabtab-f376c-default-rtdb.firebaseio.com</string>
</dict>
</plist>